HYPERLIQUID_API_URL=https://api.hyperliquid.xyz
HYPERLIQUID_ACCOUNT_ADDRESS=0xreplace_me
HYPERLIQUID_SECRET_KEY=0xreplace_me
HYPERLIQUID_VAULT_ADDRESS=
TRADE_EMAIL_ENABLED=false
TRADE_EMAIL_MODE=smtp
TRADE_EMAIL_TO=
TRADE_EMAIL_FROM=
TRADE_EMAIL_SMTP_HOST=smtp.gmail.com
TRADE_EMAIL_SMTP_PORT=465
TRADE_EMAIL_SMTP_USERNAME=
TRADE_EMAIL_SMTP_PASSWORD=
TRADE_EMAIL_USE_SSL=true
